<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        welcome to my Home page <%= userData.name %> ( Site Under Construction)
    </h1>
    <br>
    <h1><a href="https://instagram.com/prayas_nayak_18?igshid=MzNlNGNkZWQ4Mg==">Click here to see a very amazing thing</a></h1>
</body>
</html>