<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FriendHub</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Ubuntu:wght@500&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="css/lander.css">
    </head>
    <body>
        <div>
            <div class="containers" id="hero">
                <p class="heading" id="head1">
                    Welcome to
                </p>
            
                <p class="heading" id="head2">
                    friend 
                    <div id="hub">
                        <p id="hubText">Hub</p>
                    </div>
                </p>
            </div>
            
            <div class="containers" id="quote">
                <p>Exchange each others thoughts , common we are friends !!</p>
            </div>
            
            <div class="containers" id="join">
                <p class="joinTexts">
                    Already have account
                    <a href="/login">Login Now</a>
                </p>
                <p class="joinTexts">
                    Don’t have any account 
                    <a href="/signin">Create Now</a>
                </p>
            </div>
    </div>

    <div class="containers" id="footer">
        <p>Made with love by Prayas ;)</p>
    </div>


    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->

    <!-- <script src="js/lander.js"></script> -->
</body>
</html>