<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="container">
        <form action="/loginInToHome" method="post">
            <input type="text" name="userid" id="id" placeholder="User name" required>
            <br>
            <input type="password" name="password" id="pwd" placeholder="Password" required>
            <br>
            <input type="submit">
        </form>
        <p>don't have a account <a href="/signin">create one</a></p>

    </div>
</body>
</html>